
            <tr>
              <td>
                <%= f.input :nombre %>
              </td>


              <td>
                <label for=""></label> <br>
                <%= f.input_field :_destroy, as: :hidden %>
                <%= link_to '<button type="button" class="btn btn-outline-danger btn_delete_contacto"><span><i class="ion-trash-a"></i></span></button>'.html_safe, '#', class: 'remove_nombre_facturacion' %>
              </td>
            </tr>
