





<h1>Editing Cliente</h1>
<%= link_to '<button type="button" class="btn btn-outline-primary">Listar Clientes</button>'.html_safe, clientes_path %>



<br>




<%= render 'form', cliente: @cliente %>
