respuesta = "<%= @validar%>"



console.log(respuesta);


if (respuesta == "true") {

    $("#montaje_new_cliente").css("border", "1px solid #a94442");
    var mensaje = "<span>este cliente ya existe</span>"
    $("#validar_cliente_nuevo").html(mensaje)
    $("#validar_cliente_nuevo").show()

}else{

    $("#montaje_new_cliente").css("border", "1px solid #3c763d");
    $("#validar_cliente_nuevo").hide()

}
