<h5>
  Aplica Impresión:
  <% if @orden_produccion.habilitar_impresion== true %>
  <%= link_to '<button type="button" class="btn btn-primary btn-sm btn_circle">
    <span>
      <i id="" class="ion-checkmark-round"></i>
    </span>
  </button>'.html_safe, cambiar_habilitar_impresion_path(@orden_produccion), remote:true %>

  <% else %>
  <%= link_to '<button type="button" class="btn btn-primary btn-sm btn_circle">
    <span>
      <i id="" class="ion-close-round"></i>
    </span>
  </button>'.html_safe, cambiar_habilitar_impresion_path(@orden_produccion), remote:true %>
  <% end %>

</h5>
