<p id="notice"><%= notice %></p>

<p>
  <strong>Tiempo de montaje:</strong>
  <%= @variable_estandar.tiempo_de_montaje %>
</p>

<%= link_to 'Edit', edit_variable_estandar_path(@variable_estandar) %> |
<%= link_to 'Back', variables_estandar_path %>
