
<% if @programacion_op_maquina.fecha_de_impresion == nil || @programacion_op_maquina.fecha_de_impresion == ""%>
  <!-- true -->
   <p>Sin definir</p>
<% else %>
 <%=@programacion_op_maquina.fecha_de_impresion%>
<% end %>

<script type="text/javascript">


$('table').tablesorter({

  headers: {
      //identificar columna column
      3: { sorter: "ddmmyy" },
      4: { sorter: "ddmmyy" }
  },

  // initial sort on the date column
  sortList: [[7, 0]],

  // include zebra and any other widgets
  widgets: ['zebra', 'columns']


});

</script>
