<h1>Editing Programacion Op Maquina</h1>

<%= render 'form', programacion_op_maquina: @programacion_op_maquina %>

<%= link_to 'Show', @programacion_op_maquina %> |
<%= link_to 'Back', programaciones_op_maquinas_path %>
