<div class="container">

  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%=@maquina.nombre%></h4>
      <div class="">
        <ul class="list-inline">


          <li class=""><h6> <strong>Observación: </strong> </h6> <p><%=@maquina.descripcion%></p> </li>

          <li class=""><h6> <strong>Tamaño máximo de impresión: </strong> </h6> <p><%=@maquina.formato_de_tamaño%></p> </li>


      </ul>
      </div>
    </div>
  </div>
</div>
