<%= link_to "<button type='button'  class='btn btn-outline-success'><span><i class='ion-checkmark-round' aria-hidden='true'></i></span></button>".html_safe, habilitar_facturacion_url(compromiso_de_entrega.orden_produccion), remote: true %>
