<div class="col-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"> <i class="ion-ios-search-strong"></i> Buscar...</button>
      </span>
      <input type="text" class="form-control" id="buscar_orden_por_maquina">
    </div>
  </div>
