<div class="">
  <h5><%= @maquina.nombre%></h5>
</div>
<br>
<table class="table " id="mi-tabla">
  <thead>
    <th>NUMERO DE ORDEN</th>


  </thead>
  <tbody >
    <%@ordenes_produccion.each do |orden|%>
            <tr>
                <td><%=orden.numero_de_orden%></td>
          
            </tr>
    <%end%>
  </tbody>
</table>

<script type="text/javascript">
  $('#mi-tabla').tablesorter({




    dateFormat : "mmddyyyy", // set the default date format

  // or to change the format for specific columns, add the dateFormat to the headers option:
  headers: {
    0: { sorter: "shortDate" } //, dateFormat will parsed as the default above
    // 1: { sorter: "shortDate", dateFormat: "ddmmyyyy" }, // set day first format; set using class names
    // 2: { sorter: "shortDate", dateFormat: "yyyymmdd" }  // set year first format; set using data attributes (jQuery data)
  }






  });
  $('.limpiar_tr').remove()
  $('.add_for_clean').addClass('limpiar_tr')

</script>
