




<div class="my_card_pedidos_form">


      <div class="col-6">

        <h1>Edición de Maquina</h1>
      </div>

      <div class="col-3 offset-md-3">
        <%= link_to '<button type="button" class="btn btn-outline-primary float-xl-right">Listar Máquinas</button>'.html_safe, lineas_productos_path %>
      </div>

</div>




<%= render 'form', maquina: @maquina %>

<%= link_to '<button type="button" class="btn btn-outline-primary">Listar Máquinas</button>'.html_safe, maquinas_path %>
