<br>
<h1>Registro de Maquina</h1>

<%= render 'form', maquina: @maquina %>

<%= link_to '<button type="button" class="btn btn-outline-primary">Listar Máquinas</button>'.html_safe, lineas_productos_path %>
