<br>









<script type="text/javascript">










  $('.campo_hora').timepicker({
    use24hours: true
  })


</script>







<br>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark buscar_maquinas">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Maquinas</a>

  <!-- Maquinas -->

  <ul class="navbar-nav">
    <%@maquinas.each do |maquina| %>
            <li class="nav-item" id=<%="li_maquina_link_#{maquina.id}"%> >
                <%=link_to "<span class='nav-link'>#{maquina.nombre}</span>".html_safe, consulta_por_maquinas_path(maquina), remote:true%>
            </li>

    <% end %>
  </ul>
</nav>

<br>
<div class="col-12">
    <div class="my_card_contactos_form">
              <!--Buscador-->
              <div class="add_buscador col-9">

              </div>


              <!--paginacion-->
              <div class="paginacion_de_ordenes col-3">

              </div>
    </div>


        <!--tabla-->
        <div class="add_td">

        </div>

        <!--paginacion-->
        <div class="paginacion_de_ordenes">

        </div>

</div>





<!-- Modal Excel -->

<div class="modal fade fullscreen-modal " id="modalMaquinas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Información de la producción por máquina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <p class="ocultar" id="add_id"></p>
        <p class="ocultar" id="cant_maquina"></p>
        <p class="ocultar" id="cant_tirajes_por_hora"></p>
        <div class="" id="contenidoModal">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

      </div>

    </div>
  </div>
</div>


<div class="my_card_contactos_form">
  <%@maquinas.each do |maquina| %>
      <div class="col-4">
        <%= link_to "<button type='button' data-toggle='modal' data-target='' class='btn btn-outline-success'> #{maquina.nombre}<span><i class='fa fa-file-excel-o' aria-hidden="true"></i></span></button>".html_safe, programacion_maquinas_excel_url(maquina.id,format: :xlsx) %>
      </div>
  <% end %>
</div>
