<br>
<h1>ORDENES DE PRODUCCION MAQUINAS DE SATURNO</h1>
<br>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark buscar_maquinas">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Maquinas -->

  <ul class="navbar-nav">
    <%@maquinas.each do |maquina| %>
            <li class="nav-item" id=<%="li_maquina_link_#{maquina.id}"%> >

                <%=link_to "<span class='nav-link'>#{maquina.nombre}</span>".html_safe, consulta_por_maquinas_path(maquina), remote:true%>
            </li>

    <% end %>
  </ul>
</nav>

<br>
<div class="col-12">

        <table class="table">
          <thead>
            <th>NUMERO DE ORDEN</th>
            <th>CLIENTE</th>
            <th>PRODUCTO</th>
            <th>FECHA DE IMPRESION</th>
            <th>FECHA DE COMPROMISO</th>
            <th>CANTIDADES</th>
            <th></th>
          </thead>
          <tbody class="tabla_consulta_por_maquina">

          </tbody>
        </table>
</div>
