





<!--FACTURADO-->
<% @orden_produccion.compromisos_de_entrega.each do  |compromiso_de_entrega| %>
      <!--FACTURADO-->
      <% if compromiso_de_entrega.orden_produccion.entregado == true %>

          <% if compromiso_de_entrega.orden_produccion.facturado == true %>
            <%= link_to '<button type="button" id="crearProduccion" class="btn btn-outline-success"><span><i class="ion-checkmark-round" aria-hidden="true"></i></span></button>'.html_safe, habilitar_facturacion_url(compromiso_de_entrega.orden_produccion), remote: true %></td>
          <% else %>
             <%= link_to '<button type="button" id="crearProduccion" class="btn btn-outline-danger"><span><i class="ion-compose" aria-hidden="true"></i></span></button>'.html_safe, habilitar_facturacion_url(compromiso_de_entrega.orden_produccion), remote: true %></td>
          <% end %>

      <%else%>

            <button type="button" class="btn btn-outline-primary">
              <span>
                <i class="ion-lock-combination" ></i>
              </span>
            </button>
    
      <% end %>

<% end %>
