





<!--FACTURADO-->


    <% if @orden_produccion.facturado == true %>
       <%= link_to '<button type="button" id="crearProduccion" class="btn btn-outline-success"><span><i class="ion-checkmark-round" aria-hidden="true"></i></span></button>'.html_safe, habilitar_facturacion_url(@orden_produccion.), remote: true %>
    <% else %>
       <%= link_to '<button type="button" id="crearProduccion" class="btn btn-outline-danger"><span><i class="ion-compose" aria-hidden="true"></i></span></button>'.html_safe, habilitar_facturacion_url(@orden_produccion.), remote: true %>
    <% end %>
