<h1>Editar Linea De Color</h1>





<%= render 'form', linea_de_color: @linea_de_color %>

<%= link_to '<button type="button" class="btn btn-outline-primary">líneas de colores</button>'.html_safe, lineas_de_colores_path %>
