<br>
<div class="my_card_pedidos_form">


      <div class="col-6">
        <h1>Registrar Linea de Color</h1>
      </div>

      <div class="col-3 offset-md-3">
        <%= link_to '<button type="button" class="btn btn-outline-dark float-xl-right">Linea nueva</button>'.html_safe, new_lineas_de_color_path %>

      </div>

</div>
<br>






<%= render 'form', linea_de_color: @linea_de_color %>
