<%if @orden_produccion.contenedor_de_remisiones.any?%>
  <h1>Si existe</h1>
<% else %>

<h1>No hay Facturas Creadas</h1>
          <div class="">
              <%= link_to '<button class="btn btn-outline-info"><span>Registrar Facturas <i class="ion-android-document"></i></span></button>'.html_safe, desarrollar_factura_path(@orden_produccion.id), remote: true  %>
          </div>

          <div class="" id="desarrollar_factura">

          </div>
<%end%>
