<h1>Editing Contenedor De Acabados</h1>

<%= render 'form', contenedor_de_acabados: @contenedor_de_acabados %>

<%= link_to 'Show', @contenedor_de_acabados %> |
<%= link_to 'Back', contenedores_de_acabados_path %>
