<h1>Editing Habilitar Rol Maquina</h1>

<%= render 'form', habilitar_rol_maquina: @habilitar_rol_maquina %>

<%= link_to 'Show', @habilitar_rol_maquina %> |
<%= link_to 'Back', habilitar_rol_maquinas_path %>
