<h1>Edición línea de producto</h1>

<%= render 'form', linea_producto: @linea_producto %>

<%= link_to '<button type="button" class="btn btn-outline-primary">Lista de líneas de producto</button>'.html_safe, lineas_productos_path %>
