toastr.success('Orden De Producción Creada')

toastr.warning(<%=@lastId%>).text()
var lastId = <%=@lastId%>
toastr.error(lastId)
jQuery(".best_in_place").best_in_place();

var numero_orden = $('#orden_de_produccion_numero_de_orden').val();
var contenido_orden='<div><label for="">Numero de Orden:</label><p>'+numero_orden+'</p><h1><%= link_to 'Destroy', { action: :destroy, id: @lastId }, remote: true,method: :delete, data: { confirm: 'Are you sure?' } %></h1><div>'

$('#agregarDetalle').append(contenido_orden);
$('#orden_de_produccion_numero_de_orden').val("");

var contTables=$(".agregarDetalle table").length
var totalTables = contTables.toString();

var tabla='<table class="table tabla'+contTables+'"><thead> <th>Codigo</th> <th>Descripción</th> <th>Cantidad</th> <th>Fecha</th> </thead><tbody id="classTbody" class="AgregarFilas'+contTables+'"></tbody></table>'

$('.tabla').addClass("table");

$('#agregarDetalle').append(tabla);
$(".agregarDetalle table")






$(".detalles_form tr").each(function(data){
        parseInt(data)
        var cod= $(this).find('.orden_de_produccion_detalles_de_produccion_codigo').find("input").val()
        var des= $(this).find('.orden_de_produccion_detalles_de_produccion_descripcion').find("input").val()
        var cant= $(this).find('.orden_de_produccion_detalles_de_produccion_cantidad').find("input").val()
        var this_fecha=$(this).find('.fecha').val()

        cont=1;
        data=data+cont


        if (data>=2) {
          var fila='<tr><td><h6>'+cod+'</h6></td><td><h6>'+des+'</h6></td><td><h6>'+cant+'</h6></td><td><h6>'+this_fecha+'</h6></td></tr>'
          var totalTables=$(".agregarDetalle table").length
          totalTables= totalTables-1

          toastr.info(totalTables)
          $(".AgregarFilas"+totalTables+"").append(fila)
          $(this).remove()
          toastr.info("contando")
        } else {
          var fila='<tr><td><h6>'+cod+'</h6></td><td><h6>'+des+'</h6></td><td><h6>'+cant+'</h6></td><td><h6>'+this_fecha+'</h6></td></tr>'
          var totalTables=$(".agregarDetalle table").length
          totalTables= totalTables-1
          $(".AgregarFilas"+totalTables+"").append(fila)
          $('#orden_de_produccion_numero_de_orden').val(' ');
          $("#orden_de_produccion_detalles_de_produccion_attributes_0_codigo").val("");
          $("#orden_de_produccion_detalles_de_produccion_attributes_0_descripcion").val("");
          $("#orden_de_produccion_detalles_de_produccion_attributes_0_cantidad").val("");
          $("#fecha").val("");
        }

    })
$('')
