<br>
<div class="col-4 offset-lg-4">
  <h1>Editar usuario</h1>
</div>


<%= render 'form', user: @user %>
<br>
<div class="col-4 offset-lg-4">
  <%= link_to '<button type="button" class="btn btn-danger btn-lg btn-block">Listar usuarios</button>'.html_safe,
  users_path %>
</div>

<br>
