<! ------------------Información Del Pedido---------------------------------->
  <div class="container card-block">
    <div class="container my_card_pedidos_form my_orden_pedidos">
      <div class="col-4">
        <label for="">Cliente</label>
        <h4 ><%= @pedido.contacto.cliente.nombre%></h4>
      </div>
      <div class="col-4">
        <label for="">Descripción</label>
        <h4 ><%=@pedido.descripcion%></h4>
      </div>
      <div class="col-4">
        <label for="">Numero de Pedido</label>
        <h4 ><%=@pedido.numero_de_pedido%></h4>
      </div>
    </div>
  </div>

<hr>
