<h5>





    <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkbox_preprensa">
            <span class="custom-control-indicator"></span>
    </label>

    <script type="text/javascript">
    //CHECBOX PREPRENSA
    var che = $("#checkbox_preprensa")
    console.log(che);
             $("#checkbox_preprensa").change(function(){

                 toastr.warning("CAMBIO")


                       if( $('#checkbox_preprensa').prop('checked') ) {



                           toastr.success(":) ACTIVO")



                       }else {

                           toastr.warning("INACTIVO")


                       }

             })
    </script>


  <% if  @orden_produccion.entregado == false || @orden_produccion.entregado == nil %>
  Aplica Preprensa:

      <% if @orden_produccion.habilitar_preprensa== true %>
            <%= link_to '<button type="button" class="btn btn-primary btn-sm btn_circle">
              <span>
                <i id="" class="ion-checkmark-round"></i>
              </span>
            </button>'.html_safe, cambiar_habilitar_impresion_path(@orden_produccion), remote:true %>

      <% else %>
              <%= link_to '<button type="button" class="btn btn-primary btn-sm btn_circle">
                <span>
                  <i id="" class="ion-close-round"></i>
                </span>
              </button>'.html_safe, cambiar_habilitar_impresion_path(@orden_produccion), remote:true %>
      <% end %>

  <% end %>
</h5>
