




  <% if  @orden_produccion.entregado == false || @orden_produccion.entregado == nil %>

  <label class="custom-control custom-checkbox my_card_pedidos_form my_orden_pedidos">
          <h5>Aplica Preprensa:</h5>
          <input type="checkbox" class="custom-control-input" id="checkbox_preprensa">
          <span class="custom-control-indicator"></span>
  </label>


  <% end %>




<!--JAVASCRIPT-->
    <script type="text/javascript">
    //VALIDAR CHECBOX


    <% if  @orden_produccion.entregado == false || @orden_produccion.entregado == nil %>


        <% if @orden_produccion.habilitar_preprensa== true %>
            $("#checkbox_preprensa").attr('checked', false);

        <% else %>
            $("#checkbox_preprensa").attr('checked', true);
        <% end %>

    <% end %>








    //CHECBOX PREPRENSA
    var che = $("#checkbox_preprensa")
    console.log(che);
             $("#checkbox_preprensa").change(function(){
              var data = "<%=@orden_produccion.id%>"
               $.ajax({
                 url:'/cambiar_preprensa/'+data+'',
                 method:'get',
                 success: function (data){
                   console.log(data);

                 }
               })

                      /*
                       if( $('#checkbox_preprensa').prop('checked') ) {
                           toastr.success(":) ACTIVO")
                       }else {
                           toastr.error("INACTIVO")
                       }

                       */

             })
    </script>
