<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= wicked_pdf_stylesheet_link_tag  'pdf'%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Pdf reporte de tintas</title>
  </head>
  <body>

    <table class="table table-bordered">
      <thead>
        <tr>
              <th rowspan="2" style="width: 200px;">
              <%=
                  wicked_pdf_image_tag 'logointercalco.png',
                  class:"float-center col-5"
              %>
            </th >

            <th rowspan="2" align="center">
              <p align="center">ORDEN DE FABRICACIÓN</p>
            </th>
            <th>CODIGO</th>
            <th>FOP-PP-04-01</th>
      </tr>
      <tr>

        <th>FECHA</th>
        <th>8/11/2012</th>
      </tr>

      </thead>
    </table>


      <h1>HOLA MUNDO</h1>
      <table class="table">
        <thead>
          <th>Valor uno</th>
          <th>valor dos</th>
        </thead>
        <tbody>
          <tr>
            <td>valor uno</td>
            <td>valor dos</td>
          </tr>
        </tbody>
      </table>
  </body>
</html>
