<br>






<%= render 'form', orden_produccion: @orden_produccion %>

<%= link_to '<button type="button" class="btn btn-outline-dark">Listar ordenes de producción</button>'.html_safe, ordenes_produccion_path %>
