<br>

<%= render 'form', tinta_formulada: @tinta_formulada %>

<%= link_to '<button type="button" class="btn btn-outline-primary">Tintas Formuladas</button>'.html_safe, tintas_formuladas_path %>

<br>
