<h1>Editing Detalle De Produccion</h1>

<%= render 'form', detalle_de_produccion: @detalle_de_produccion %>

<%= link_to 'Show', @detalle_de_produccion %> |
<%= link_to 'Back', detalles_de_produccion_path %>
