/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 *= require font-awesome
 */
 
  @import "bootstrap";
  @import "font-awesome";
  @import "toastr";
  @import url('https://fonts.googleapis.com/css?family=Rambla');
  @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Bungee|Frijole|Gabriela|Vast+Shadow');

h1{
      font-family: 'Bungee', cursive;
      color:black;
      
  }
  
body{
    background:white   ;
    font-family: 'Gabriela', serif;
}

 
/*-------------------------------------home-----------------------------------*/
.sub_title{
  
  font-family: 'Gabriela', serif;
  text-align: center;
  
}
 
.my_container_tittle{
    margin-top:10%;
    
  }
  
.my_title_login{
    
    font-size:100px!important;
    text-align: center;
    
}

.line_title{
  background:black!important;
}

.my_nav{
  
   border-bottom-style: solid;
  
}
  
  
.my_btn_title{
    
    font-family: 'Gabriela', serif;
    
      
  }
  
/*-------------------------------------/home-----------------------------------*/ 
 
/*-------------------------------------Users-----------------------------------*/
.my_users{
    
    
    
}

.my_users_btn_options{
    text-align:center;
}


/*-------------------------------------/users-----------------------------------*/