<hr class="my_line_footer"/>
<div class="my_footer_container text-center">
    
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            
          <li class="lista_footer">INTERCALCO IMPRESORES S.A.S.</li>
         
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="lista_footer">Ciudad: Medellín-Antioquia</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="lista_footer">Dirección: Calle 14S #51C-70</li>
        </ul>
      </div>
      
    </div>
  </div>
    <br>
</div>

